// functions
@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @warn '#{ $number } is in wrong format';
    @return $number;
}

@function getrem($size, $base: $base) {
    $remSize: $size / $base;
    @return #{$remSize}rem;
}

@function getvw($xs-size, $w-max: $w-max) {
    $xs-size: strip-unit($xs-size);
    $w-max: strip-unit($w-max);
    @return $xs-size * 100vw / $w-max;
}

@function getvmin($xs-size, $w-max: $w-max) {
    $xs-size: strip-unit($xs-size);
    $w-max: strip-unit($w-max);
    @return $xs-size * 100vmin / $w-max;
}